 {% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Godwin Samuel</title>
    <link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">

                    <hr>
                    <h4>Samuel Godwin!</h4>
                    <p>I love coding, doing research and collaborating</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100  border-info">
                    <h4>My First Job as a Developer</h4>
                    <hr>
                    <p>None</p>

                    <p>--</p>

                    <p></p>

                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/zuri.png' %}"></li>

                    </ul>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Experience as a Developer</h5>
                    <hr>
                    <p>None</p>
                    <p>--</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What I Know</h5>
                    <hr>
                    <p>Python, Django, HTML/CSS, Postgres and APIs such as google maps,</p>
                    <p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>How I Learn</h5>
                    <hr>
                    <p>Watching videos of professionals</p>

                    <p>checking out peoples project and i try to recreate them and with my own adjustments.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Short Term Goals</h5>
                    <hr>
                    <p>Two years from i want to work in great companies and developing products for the use of the public and institutions</p>
                    <p>Aside from building projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

                </div>
            </div>
        </div>
        <br>
    </div>


</body>

</html>